#container {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid black;
}

.wrapper {
  padding: 100px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

html, body {
    height:100%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.brick {
  width: 100px;
  height: 50px;

  position: absolute;
}

.delete {

    padding: 2px;
    cursor: pointer;
    float: left;
    font-size: 10px;
    line-height: 20px;

}

.connect {
    width:10px;
    height:10px;
    background-color:#f76258;
    position:absolute;
    bottom: 13px;
    right: 5px;
  }


/* jtk demo */
.jtk-node {
    background-color: #3E7E9C;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    z-index: 11;
    overflow: hidden;
    min-width:80px;
    min-height:30px;
    width: auto;
}

.jtk-node .name {
    background-color: #3E7E9C;
    color: #f7ebca;
    cursor: move;
    font-size: 13px;
    line-height: 24px;
    padding: 6px;
    text-align: center;
}

.jtk-node .name span {
    cursor:pointer;
}


.jtk-demo-canvas {
    height:550px;
    max-height:700px;
    border:1px solid #CCC;
    background-color:white;
    display: flex;
}

.canvas-wide {
    margin-left:0;
}

  .jtk-container {
    width: 60%;
    max-width:800px;
  }
